<div>
    <div style="font-family: Verdana, Arial, Helvetica, sans-serif;font-size: 10.0pt;">
        <div>
            <div>
                <div>
                    <div>
                        <div style="text-align: center;" class="x_317175391align-center">
                            <div>
                                <img src="https://lh3.googleusercontent.com/tjdK9k-poIO_HDHLz8xDNdaKLa9ff3ovyU4vGv4TMI4hk8_MJLPVxuQgJR9QHjE_NBjlsk9_lyVePFo8djiM2s_D4fk_j0tWZUeQYvw_4wtQ8K68xWtgZD1XIdnUiTF2SqAZrT9ZZlSWkZ6vEcmlnv7DQ_8K3SV1tu4rlW6yb22EEzaTdxFcuyBa-Wxi9jYrGBg-ResK0EPr5zJZdEY5nHC5K7pJXVJ5Cmd7YZ4HIGlwqxkGP6U-eDKnxTWwZof-wgACu78yYSBr1Qptg-MOdQOAFL2omrQjO7U0CEqsXHpS9ONHmWK0C60yS8FTXOBD6SQFLuBaiEK9n9GhJTdOhwcmCuP6j_Qelikbeo-zFpufGlNfU3D8QPS1-YymU770YWm5oI1b14AWWrjKCE-tnKlKVmSxO_7BC8_JG7JfYE7uCfRoQH31471OVXDyEYHgFlocwRHFFDeLh4n46WIDMZIlbp_3JqLKY4J6Wsiz3Sb5gKManRwMq-sUrdUl4IVJIhtnMVpxZTxbO12lktVQk8X9YyvxZMp7gQE7wmk7gZIabQ6mhG0nj_lm3Ej9-OpqokozzwlKKe0xkHdV4yRdYLyzI1CWCBVQJjnBot2JTLOKoIrpEke_JLYWk-2Mi88L7ivz15pwz7qyYUyqrdyy4LMfEKOcJwdeRXtU5_xVgqxZ_PfIeF6PrvHjhpHp2tcktp7Bl8ZN6cpC4HIWfbnhkmE=w1024-h500-no?authuser=0" width="623" height="303">
                                <br>
                                <br>
                            </div>
                        </div>
                        <div style="color: rgb(34,34,34);font-size: small;font-style: normal;font-weight: 400;letter-spacing: normal;orphans: 2;text-indent: 0.0px;text-transform: none;white-space: normal;widows: 2;word-spacing: 0.0px;background-color: transparent;font-family: Roboto, RobotoDraft, Helvetica, Arial, sans-serif;padding: 0.0px;">
                            <div style="margin: 0.0px auto;min-width: 320.0px;max-width: 600.0px;background-color: transparent;">
                                <div style="border-collapse: collapse;display: table;width: 600.0px;background-color: transparent;">
                                    <div style="max-width: 320.0px;min-width: 600.0px;display: table-cell;vertical-align: top;">
                                        <div style="border-radius: 0.0px;width: 600.0px;">
                                            <div style="padding: 0.0px;border-width: 0.0px;border-style: solid;border-color: transparent;border-radius: 0.0px;">
                                                <table cellpadding="0" cellspacing="0" width="100%" border="0" style="font-family: Cabin, sans-serif;">
                                                    <tbody>
                                                        <tr>
                                                            <td align="left" style="font-family: Cabin, sans-serif;margin: 0.0px;padding: 10.0px;">
                                                                <h1 style="margin: 0.0px;line-height: 30.8px;font-weight: normal;font-family: arial, helvetica, sans-serif;font-size: 22.0px;">
                                                                    <b>
                                                                        Hi {{ name }}
                                                                    </b>
                                                                    <br>
                                                                </h1>
                                                            </td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div style="color: rgb(34,34,34);font-size: small;font-style: normal;font-weight: 400;letter-spacing: normal;orphans: 2;text-indent: 0.0px;text-transform: none;white-space: normal;widows: 2;word-spacing: 0.0px;background-color: transparent;font-family: Roboto, RobotoDraft, Helvetica, Arial, sans-serif;padding: 0.0px;">
                            <div style="margin: 0.0px auto;min-width: 320.0px;max-width: 600.0px;">
                                <div style="border-collapse: collapse;display: table;width: 600.0px;background-color: transparent;">
                                    <div style="max-width: 320.0px;min-width: 200.0px;display: table-cell;vertical-align: top;">
                                        <div style="border-radius: 0.0px;width: 200.0px;">
                                            <div style="padding: 0.0px;border-width: 0.0px;border-style: solid;border-color: transparent;border-radius: 0.0px;">
                                                <br>
                                            </div>
                                        </div>
                                    </div>
                                    <div style="max-width: 320.0px;min-width: 200.0px;display: table-cell;vertical-align: top;">
                                        <div style="border-radius: 0.0px;width: 200.0px;">
                                            <div style="padding: 0.0px;border-width: 0.0px;border-style: solid;border-color: transparent;border-radius: 0.0px;">
                                                <table cellpadding="0" cellspacing="0" width="100%" border="0" style="font-family: Cabin, sans-serif;">
                                                    <tbody>
                                                        <tr>
                                                            <td align="left" style="font-family: Cabin, sans-serif;margin: 0.0px;padding: 10.0px;">
                                                                <table width="100%" cellpadding="0" cellspacing="0" border="0">
                                                                    <tbody>
                                                                        <tr>
                                                                            <td align="center" style="font-family: Roboto, RobotoDraft, Helvetica, Arial, sans-serif;margin: 0.0px;padding-right: 0.0px;padding-left: 0.0px;">
                                                                                <img height="auto" align="center" border="0" src="https://ci4.googleusercontent.com/proxy/g0b3fgJVHky75Cf2sY2stMXESJdcAQfwqq1hcRlkLTFv0s4jYuH-ffxBJRf-7osO9Nt3-Q-eDplS0Z6UGES-pFrQmCDnjn3-h-ILs8XsQ55TdoblNfQlSNVui3UppH1XjEk1jXlXpIcRhier4LNoyzG-nAStdQ4=s0-d-e1-ft#https://s3.amazonaws.com/unroll-images-production/projects%2F8345%2F1641814744950-logo_long+User.png" alt="" title="" width="180" class="x_317175391CToWUd" style="outline: none;clear: both;border: none;height: auto;float: none;width: 180.0px;max-width: 180.0px;display: inline-block;">
                                                                                <br>
                                                                            </td>
                                                                        </tr>
                                                                    </tbody>
                                                                </table>
                                                            </td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                    <div style="max-width: 320.0px;min-width: 200.0px;display: table-cell;vertical-align: top;">
                                        <div style="border-radius: 0.0px;width: 200.0px;">
                                            <div style="padding: 0.0px;border-width: 0.0px;border-style: solid;border-color: transparent;border-radius: 0.0px;">
                                                <br>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div style="color: rgb(34,34,34);font-size: small;font-style: normal;font-weight: 400;letter-spacing: normal;orphans: 2;text-indent: 0.0px;text-transform: none;white-space: normal;widows: 2;word-spacing: 0.0px;background-color: transparent;font-family: Roboto, RobotoDraft, Helvetica, Arial, sans-serif;padding: 0.0px;">
                            <div style="margin: 0.0px auto;min-width: 320.0px;max-width: 600.0px;">
                                <div style="border-collapse: collapse;display: table;width: 600.0px;background-color: transparent;">
                                    <div style="max-width: 320.0px;min-width: 600.0px;display: table-cell;vertical-align: top;">
                                        <div style="width: 600.0px;">
                                            <div style="padding: 0.0px;border-width: 0.0px;border-style: solid;border-color: transparent;">
                                                <table cellpadding="0" cellspacing="0" width="100%" border="0" style="font-family: Cabin, sans-serif;">
                                                    <tbody>
                                                        <tr>
                                                            <td align="left" style="font-family: Cabin, sans-serif;margin: 0.0px;padding: 10.0px 10.0px 33.0px 7.0px;">
                                                                <div style="line-height: 20.8px;text-align: center;">
                                                                    <p style="line-height: 22.4px;margin: 0.0px;">
                                                                        <span class="size" style="font-size: 14px; line-height: 22.4px; margin: 0px;">
                                                                            <span class="font" style="font-family:&quot;Crimson Text&quot;, serif">
                                                                                <span class="size" style="font-size: 18px; line-height: 28.8px;">
                                                                                    <span class="font" style="font-family:tahoma, arial, helvetica, sans-serif">
                                                                                        <span class="size" style="font-size: 30px; line-height: 48px;">
                                                                                            <b>
                                                                                                Welcome to KITCHLY
                                                                                            </b>
                                                                                        </span>
                                                                                    </span>
                                                                                </span>
                                                                            </span>
                                                                        </span>
                                                                        <br>
                                                                    </p>
                                                                    <p style="line-height: 22.4px;text-align: left;margin: 0.0px;">
                                                                        <br>
                                                                    </p>
                                                                    <div>
                                                                        An online food ordering platform focused on bringing local and private kitchens online. We believe that the best foods are cooked in our local kitchens. This App is for anyone who loves to cook and can make good meals, with Kitchly Kitchens you can cook from the comfort of your kitchen and make extra income by delivering to customers close to you.
                                                                        <br>
                                                                    </div>
                                                                    <p>
                                                                        <br>
                                                                    </p>
                                                                    <p style="line-height: 22.4px;margin: 0.0px;">
                                                                        <span class="size" style="font-size: 14px; line-height: 22.4px; margin: 0px;">
                                                                            <i>
                                                                                <b>
                                                                                    Use the button below to register and set up your kitchen.
                                                                                </b>
                                                                            </i>
                                                                        </span>
                                                                        <br>
                                                                    </p>
                                                                </div>
                                                            </td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                                <table cellpadding="0" cellspacing="0" width="100%" border="0" style="font-family: Cabin, sans-serif;">
                                                    <tbody>
                                                        <tr>
                                                            <td align="left" style="font-family: Cabin, sans-serif;margin: 0.0px;padding: 10.0px;">
                                                                <div align="center">
                                                                    <a href="https://kitchly.co/kitchen#download" target="_blank" style="color: rgb(255,255,255);box-sizing: border-box;display: inline-block;background-color: rgb(52,209,134);border-radius: 4.0px;width: auto;max-width: 100.0%;">
                                                                        <span style="display: block;padding: 10.0px 20.0px;line-height: 15.6px;">
                                                                            <span class="size" style="font-size: 14px; line-height: 16.8px;">
                                                                                Click Here To Register Your Kitchen
                                                                            </span>
                                                                            <br>
                                                                        </span>
                                                                    </a>
                                                                </div>
                                                            </td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                                <table cellpadding="0" cellspacing="0" width="100%" border="0" style="font-family: Cabin, sans-serif;">
                                                    <tbody>
                                                        <tr>
                                                            <td align="left" style="font-family: Cabin, sans-serif;margin: 0.0px;padding: 10.0px;">
                                                                <table height="0px" align="center" border="0" cellpadding="0" cellspacing="0" width="100%" style="border-collapse: collapse;table-layout: fixed;border-spacing: 0.0px;vertical-align: top;border-top: 1.0px solid rgb(144,226,186);">
                                                                    <tbody>
                                                                        <tr style="vertical-align: top;">
                                                                            <td style="font-family: Roboto, RobotoDraft, Helvetica, Arial, sans-serif;margin: 0.0px;vertical-align: top;font-size: 0.0px;line-height: 0.0px;border-collapse: collapse;">
                                                                                &nbsp;
                                                                                <br>
                                                                            </td>
                                                                        </tr>
                                                                    </tbody>
                                                                </table>
                                                            </td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div style="color: rgb(34,34,34);font-size: small;font-style: normal;font-weight: 400;letter-spacing: normal;orphans: 2;text-indent: 0.0px;text-transform: none;white-space: normal;widows: 2;word-spacing: 0.0px;background-color: transparent;font-family: Roboto, RobotoDraft, Helvetica, Arial, sans-serif;padding: 0.0px;">
                            <div style="margin: 0.0px auto;min-width: 320.0px;max-width: 600.0px;background-color: transparent;">
                                <div style="border-collapse: collapse;display: table;width: 600.0px;background-color: transparent;">
                                    <div style="max-width: 320.0px;min-width: 600.0px;display: table-cell;vertical-align: top;">
                                        <div style="border-radius: 0.0px;width: 600.0px;">
                                            <div style="padding: 0.0px;border-width: 0.0px;border-style: solid;border-color: transparent;border-radius: 0.0px;">
                                                <table cellpadding="0" cellspacing="0" width="100%" border="0" style="font-family: Cabin, sans-serif;">
                                                    <tbody>
                                                        <tr>
                                                            <td align="left" style="font-family: Cabin, sans-serif;margin: 0.0px;padding: 10.0px;">
                                                                <div style="line-height: 18.2px;">
                                                                    <p style="line-height: 19.6px;text-align: center;margin: 0.0px;">
                                                                        <span class="size" style="font-size: 14px; line-height: 19.6px; text-align: center; margin: 0px;">
                                                                            <span class="colour" style="color:rgb(126, 140, 141)">
                                                                                <span class="size" style="font-size: 10px; line-height: 14px;">
                                                                                    You are receiving this email because you are currently
                                                                                </span>
                                                                            </span>
                                                                        </span>
                                                                        <br>
                                                                    </p>
                                                                    <p style="line-height: 19.6px;text-align: center;margin: 0.0px;">
                                                                        <span class="size" style="font-size: 14px; line-height: 19.6px; text-align: center; margin: 0px;">
                                                                            <span class="colour" style="color:rgb(126, 140, 141)">
                                                                                <span class="size" style="font-size: 10px; line-height: 14px;">
                                                                                    subscribed to Kitchly notifications.&nbsp;
                                                                                </span>
                                                                            </span>
                                                                        </span>
                                                                        <br>
                                                                    </p>
                                                                </div>
                                                            </td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div style="color: rgb(34,34,34);font-size: small;font-style: normal;font-weight: 400;letter-spacing: normal;orphans: 2;text-indent: 0.0px;text-transform: none;white-space: normal;widows: 2;word-spacing: 0.0px;background-color: transparent;font-family: Roboto, RobotoDraft, Helvetica, Arial, sans-serif;padding: 0.0px;">
                            <div style="margin: 0.0px auto;min-width: 320.0px;max-width: 600.0px;background-color: rgb(50,77,92);">
                                <div style="border-collapse: collapse;display: table;width: 600.0px;background-color: transparent;">
                                    <div style="max-width: 320.0px;min-width: 600.0px;display: table-cell;vertical-align: top;">
                                        <div style="width: 600.0px;">
                                            <div style="padding: 0.0px;border-width: 0.0px;border-style: solid;border-color: transparent;">
                                                <table cellpadding="0" cellspacing="0" width="100%" border="0" style="font-family: Cabin, sans-serif;">
                                                    <tbody>
                                                        <tr>
                                                            <td align="left" style="font-family: Cabin, sans-serif;margin: 0.0px;padding: 10.0px;">
                                                                <div style="color: rgb(250,250,250);line-height: 23.4px;text-align: center;">
                                                                    <p style="line-height: 25.2px;margin: 0.0px;">
                                                                        <span class="size" style="font-size: 14px; line-height: 25.2px; margin: 0px;">
                                                                            <span class="size" style="font-size: 12px; line-height: 21.6px;">
                                                                                Copyrights © Kitchly 2022
                                                                                <br>
                                                                                    All Rights Reserved.
                                                                            </span>
                                                                        </span>
                                                                    </p>
                                                                </div>
                                                            </td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div>
            <br>
        </div>
    </div>
</div>
