<div>
    <div style="font-family: Verdana, Arial, Helvetica, sans-serif;font-size: 10.0pt;">
        <div>
            <div>
                <div>
                    <div>
                         
                        <div
                            style="color: rgb(34,34,34);font-size: small;font-style: normal;font-weight: 400;letter-spacing: normal;orphans: 2;text-indent: 0.0px;text-transform: none;white-space: normal;widows: 2;word-spacing: 0.0px;background-color: transparent;font-family: Roboto, RobotoDraft, Helvetica, Arial, sans-serif;padding: 0.0px;">
                            <div
                                style="margin: 0.0px auto;min-width: 320.0px;max-width: 600.0px;background-color: transparent;">
                                <div
                                    style="border-collapse: collapse;display: table;width: 600.0px;background-color: transparent;">
                                    <div
                                        style="max-width: 320.0px;min-width: 600.0px;display: table-cell;vertical-align: top;">
                                        <div style="border-radius: 0.0px;width: 600.0px;">
                                            <div
                                                style="padding: 0.0px;border-width: 0.0px;border-style: solid;border-color: transparent;border-radius: 0.0px;">
                                                <table cellpadding="0" cellspacing="0" width="100%" border="0"
                                                    style="font-family: Cabin, sans-serif;">
                                                    <tbody>
                                                        <tr>
                                                            <td align="left"
                                                                style="font-family: Cabin, sans-serif;margin: 0.0px;padding: 10.0px;">
                                                                <h1
                                                                    style="margin: 0.0px;line-height: 30.8px;font-weight: normal;font-family: arial, helvetica, sans-serif;font-size: 22.0px;">
                                                                    <b>
                                                                        Hello - {{ name }}
                                                                    </b>
                                                                    <br>
                                                                </h1>
                                                            </td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div
                            style="color: rgb(34,34,34);font-size: small;font-style: normal;font-weight: 400;letter-spacing: normal;orphans: 2;text-indent: 0.0px;text-transform: none;white-space: normal;widows: 2;word-spacing: 0.0px;background-color: transparent;font-family: Roboto, RobotoDraft, Helvetica, Arial, sans-serif;padding: 0.0px;">
                            <div style="margin: 0.0px auto;min-width: 320.0px;max-width: 600.0px;">
                                <div
                                    style="border-collapse: collapse;display: table;width: 600.0px;background-color: transparent;">
                                    <div
                                        style="max-width: 320.0px;min-width: 600.0px;display: table-cell;vertical-align: top;">
                                        <div style="width: 600.0px;">
                                            <div
                                                style="padding: 0.0px;border-width: 0.0px;border-style: solid;border-color: transparent;">
                                                <table cellpadding="0" cellspacing="0" width="100%" border="0"
                                                    style="font-family: Cabin, sans-serif;">
                                                    <tbody>
                                                        <tr>
                                                            <td align="left"
                                                                style="font-family: Cabin, sans-serif;margin: 0.0px;padding: 10.0px 10.0px 33.0px 7.0px;">
                                                                <div style="line-height: 20.8px;text-align: center;">

                                                                    <div>
                                                                        <a href="https://kitchly.co/cook/download"
                                                                            target="_blank"> <img
                                                                                src="https://res.cloudinary.com/da1mxvbx2/image/upload/v1709726152/1_ouipbe.jpg"
                                                                                alt="" style="width: 100%;">
                                                                            <img src="https://res.cloudinary.com/da1mxvbx2/image/upload/v1709726153/2_zxsbg3.jpg"
                                                                                alt=" " style="width: 100%;"> </a>
                                                                        <br>
                                                                    </div>
                                                                </div>
                                                            </td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                                
                                                <table cellpadding="0" cellspacing="0" width="100%" border="0"
                                                    style="font-family: Cabin, sans-serif;">
                                                    <tbody>
                                                        <tr>
                                                            <td align="left"
                                                                style="font-family: Cabin, sans-serif;margin: 0.0px;padding: 10.0px;">
                                                                <table height="0px" align="center" border="0"
                                                                    cellpadding="0" cellspacing="0" width="100%"
                                                                    style="border-collapse: collapse;table-layout: fixed;border-spacing: 0.0px;vertical-align: top;border-top: 1.0px solid rgb(144,226,186);">
                                                                    <tbody>
                                                                        <tr style="vertical-align: top;">
                                                                            <td
                                                                                style="font-family: Roboto, RobotoDraft, Helvetica, Arial, sans-serif;margin: 0.0px;vertical-align: top;font-size: 0.0px;line-height: 0.0px;border-collapse: collapse;">
                                                                                &nbsp;
                                                                                <br>
                                                                            </td>
                                                                        </tr>
                                                                    </tbody>
                                                                </table>
                                                            </td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div
                            style="color: rgb(34,34,34);font-size: small;font-style: normal;font-weight: 400;letter-spacing: normal;orphans: 2;text-indent: 0.0px;text-transform: none;white-space: normal;widows: 2;word-spacing: 0.0px;background-color: transparent;font-family: Roboto, RobotoDraft, Helvetica, Arial, sans-serif;padding: 0.0px;">
                            <div
                                style="margin: 0.0px auto;min-width: 320.0px;max-width: 600.0px;background-color: transparent;">
                                <div
                                    style="border-collapse: collapse;display: table;width: 600.0px;background-color: transparent;">
                                    <div
                                        style="max-width: 320.0px;min-width: 600.0px;display: table-cell;vertical-align: top;">
                                        <div style="border-radius: 0.0px;width: 600.0px;">
                                            <div
                                                style="padding: 0.0px;border-width: 0.0px;border-style: solid;border-color: transparent;border-radius: 0.0px;">
                                                <table cellpadding="0" cellspacing="0" width="100%" border="0"
                                                    style="font-family: Cabin, sans-serif;">
                                                    <tbody>
                                                        <tr>
                                                            <td align="left"
                                                                style="font-family: Cabin, sans-serif;margin: 0.0px;padding: 10.0px;">
                                                                <div style="line-height: 18.2px;">
                                                                    <p
                                                                        style="line-height: 19.6px;text-align: center;margin: 0.0px;">
                                                                        <span class="size"
                                                                            style="font-size: 14px; line-height: 19.6px; text-align: center; margin: 0px;">
                                                                            <span class="colour"
                                                                                style="color:rgb(126, 140, 141)">
                                                                                <span class="size"
                                                                                    style="font-size: 10px; line-height: 14px;">
                                                                                    You are receiving this email because
                                                                                    you are currently
                                                                                </span>
                                                                            </span>
                                                                        </span>
                                                                        <br>
                                                                    </p>
                                                                    <p
                                                                        style="line-height: 19.6px;text-align: center;margin: 0.0px;">
                                                                        <span class="size"
                                                                            style="font-size: 14px; line-height: 19.6px; text-align: center; margin: 0px;">
                                                                            <span class="colour"
                                                                                style="color:rgb(126, 140, 141)">
                                                                                <span class="size"
                                                                                    style="font-size: 10px; line-height: 14px;">
                                                                                    subscribed to Kitchly
                                                                                    notifications.&nbsp;
                                                                                </span>
                                                                            </span>
                                                                        </span>
                                                                        <br>
                                                                    </p>
                                                                </div>
                                                            </td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div
                            style="color: rgb(34,34,34);font-size: small;font-style: normal;font-weight: 400;letter-spacing: normal;orphans: 2;text-indent: 0.0px;text-transform: none;white-space: normal;widows: 2;word-spacing: 0.0px;background-color: transparent;font-family: Roboto, RobotoDraft, Helvetica, Arial, sans-serif;padding: 0.0px;">
                            <div
                                style="margin: 0.0px auto;min-width: 320.0px;max-width: 600.0px;background-color: rgb(50,77,92);">
                                <div
                                    style="border-collapse: collapse;display: table;width: 600.0px;background-color: transparent;">
                                    <div
                                        style="max-width: 320.0px;min-width: 600.0px;display: table-cell;vertical-align: top;">
                                        <div style="width: 600.0px;">
                                            <div
                                                style="padding: 0.0px;border-width: 0.0px;border-style: solid;border-color: transparent;">
                                                <table cellpadding="0" cellspacing="0" width="100%" border="0"
                                                    style="font-family: Cabin, sans-serif;">
                                                    <tbody>
                                                        <tr>
                                                            <td align="left"
                                                                style="font-family: Cabin, sans-serif;margin: 0.0px;padding: 10.0px;">
                                                                <div
                                                                    style="color: rgb(250,250,250);line-height: 23.4px;text-align: center;">
                                                                    <p style="line-height: 25.2px;margin: 0.0px;">
                                                                        <span class="size"
                                                                            style="font-size: 14px; line-height: 25.2px; margin: 0px;">
                                                                            <span class="size"
                                                                                style="font-size: 12px; line-height: 21.6px;">
                                                                                Copyrights © Kitchly 2024
                                                                                <br>
                                                                                All Rights Reserved.
                                                                            </span>
                                                                        </span>
                                                                    </p>
                                                                </div>
                                                            </td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div>
            <br>
        </div>
    </div>
</div>