<style>
  .profileImg{width: 100%; height: 280px; object-fit: cover; object-position:
  top;}
  .viewBox{width: 250px; height: 150px; padding: 20px; color: white; background-color: #34D186;}
</style>
<br />

<div class="row">
  <div class="col-md-4">
    <div class="card p-3">
      <img src="/images/user.jpg" alt="" class="profileImg" />
      <br />
      <hr />
      <h5 class="text-center">Sammy James</h5>
    </div>
    <br>
    <div class="card p-3">
      <h4 class="text-center">Medical History</h4>
      <hr />
       <div class="row">
            <div class="col-md-5">
              <p><b>Wear Glasses:</b></p>
            </div>
            <div class="col-md-6">
              <h6>YES</h6>
            </div>
        </div>
        <hr />
        <div class="row">
            <div class="col-md-5">
              <p><b>Allergy:</b></p>
            </div>
            <div class="col-md-6">
              <h6>Dust, Smoke</h6>
            </div>
        </div>
        <hr />
    <div class="row">
            <div class="col-md-5">
              <p><b>Doctor's Name:</b></p>
            </div>
            <div class="col-md-6">
              <h6>Kunle Lare</h6>
            </div>
    </div>
    <hr>
    <div class="row">
            <div class="col-md-4">
              <p><b>Doctor's Address:</b></p>
            </div>
            <div class="col-md-8">
              <h6>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Molestias consequuntur!</h6>
            </div>
    </div>
    <hr>
    <div class="text-center">
        <a href="">View Medical Report >></a>
    </div>
    </div>
  </div>
  <div class="col-md-8">
    <div class="card p-3">
      <div class="row">
        <div class="col-md-6">
          <h5>Personal Details</h5>
          <hr />
          <div class="row">
            <div class="col-md-4">
              <p><b>Student ID:</b></p>
            </div>
            <div class="col-md-8">
              <h6>ST17241</h6>
            </div>
          </div>

          <hr />
          <div class="row">
            <div class="col-md-4">
              <p><b>Full Names:</b></p>
            </div>
            <div class="col-md-8">
              <h6>Sammy Maduka</h6>
            </div>
          </div>
          <hr />
          <div class="row">
            <div class="col-md-4">
              <p><b>Gender:</b></p>
            </div>
            <div class="col-md-8">
              <h6>Male</h6>
            </div>
          </div>
          <hr />
          <div class="row">
            <div class="col-md-4">
              <p><b>Date Of Birth:</b></p>
            </div>
            <div class="col-md-8">
              <h6>2020/21/12</h6>
               <a href="#">View Birth Certificate >></a>
            </div>
          </div>
          <hr />
          <div class="row">
            <div class="col-md-4">
              <p><b>Residential Address:</b></p>
            </div>
            <div class="col-md-8">
              <h6>Lorem ipsum dolor sit amet consectetur adipisicing elit.
                Laudantium atque</h6>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <h5>Other Details</h5>
          <hr />
          <div class="row">
            <div class="col-md-4">
              <p><b>Previous School:</b></p>
            </div>
            <div class="col-md-8">
              <h6>Stella Brown School</h6>
            </div>
          </div>

          <hr />
          <div class="row">
            <div class="col-md-4">
              <p><b>Last day in school:</b></p>
            </div>
            <div class="col-md-8">
              <h6>202/12/13</h6>
            </div>
          </div>
          <hr />
          <div class="row">
            <div class="col-md-4">
              <p><b>Reason for leaving:</b></p>
            </div>
            <div class="col-md-8">
              <h6>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Accusamus, culpa! Perspiciatis quos dolores odio obcaecati tenetur, voluptas architecto eos at repellat quis maxime provident corrupti laboriosam illum? Porro, aspernatur laboriosam.</h6>
            </div>
          </div>
          <hr />
          <div class="row">
            <div class="col-md-4">
              <p><b>Report Sheet:</b></p>
            </div>
            <div class="col-md-8">
              <a href="#">View Report Sheet >></a>
            </div>
          </div>
          

        </div>

      </div>
 
      <hr />
      <h4 class="text-center">Parents Info</h4>
      <hr />
      <div class="row">
        <div class="col-md-6">
          <h5>Father Details</h5>
          <hr />
          <div class="row">
            <div class="col-md-4">
              <p><b>Full Names:</b></p>
            </div>
            <div class="col-md-8">
              <h6>Chuckes Maduka</h6>
            </div>
          </div>

          <hr />
          <div class="row">
            <div class="col-md-4">
              <p><b>Occupation:</b></p>
            </div>
            <div class="col-md-8">
              <h6>Banker</h6>
            </div>
          </div>
          <hr />
          <div class="row">
            <div class="col-md-4">
              <p><b> Phones:</b></p>
            </div>
            <div class="col-md-8">
              <h6>Home: 09023423423 <br /> Office: 090324234</h6>
            </div>
          </div>
          <hr />
          <div class="row">
            <div class="col-md-4">
              <p><b>Office Address:</b></p>
            </div>
            <div class="col-md-8">
              <h6>Lorem ipsum dolor sit amet consectetur adipisicing elit.
                Laudantium atque</h6>
            </div>
          </div>
        </div>
        <div class="col-md-6">
        <h5>Mother Details</h5>
          <hr />
          <div class="row">
            <div class="col-md-4">
              <p><b>Full Names:</b></p>
            </div>
            <div class="col-md-8">
              <h6>Chinwe Maduka</h6>
            </div>
          </div>

          <hr />
          <div class="row">
            <div class="col-md-4">
              <p><b>Occupation:</b></p>
            </div>
            <div class="col-md-8">
              <h6>Doctor</h6>
            </div>
          </div>
          <hr />
          <div class="row">
            <div class="col-md-4">
              <p><b> Phones:</b></p>
            </div>
            <div class="col-md-8">
              <h6>Home: 09023423423 <br /> Office: 090324234</h6>
            </div>
          </div>
          <hr />
          <div class="row">
            <div class="col-md-4">
              <p><b>Office Address:</b></p>
            </div>
            <div class="col-md-8">
              <h6>Lorem ipsum dolor sit amet consectetur adipisicing elit.
                Laudantium atque</h6>
            </div>
        </div>




        </div>
       </div>
   
  </div>
</div>


