<form action="/send-mails" method="post">
     
     <input type="email" name="email" placeholder="Enter email address"><br><br>
     <input type="text" name="name" placeholder="Enter name"> <br><br>
    <button>Send Emails</button>
</form>
