<div class="container">
    <div class="row">
        {{#each districts }}
        <div class="col-md-3">
            <div class="card mb-2">
                <div class="card-body">
                    <h6 class="card-subtitle">{{ name }} </h6>
                    <a href="/districts-kitchen/{{ name }}" class="card-link">View Kitchens</a>

                </div>
            </div>
        </div>
        {{/each }}
    </div>
</div>
<br>
<br>
<br>